@model Lab2MVC.Models.StudentDbWork

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование работы</h2>

@using (Html.BeginForm())
{
    @Html.LabelForModel()
    @Html.EditorForModel()

    <br />
    <input type="submit" value="Сохранить изменения" />
}